[submodule "third_party/Catch2"]
	path = third_party/Catch2
	url = https://github.com/catchorg/Catch2
[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui
[submodule "third_party/glfw"]
	path = third_party/glfw
	url = https://github.com/glfw/glfw
[submodule "third_party/json11"]
	path = third_party/json11
	url = https://github.com/dropbox/json11
[submodule "third_party/nfd"]
	path = third_party/nfd
	url = https://github.com/mlabbe/nativefiledialog.git
